* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #eee;
}

body, div, ul, nav, header, footer, a, li, label {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: space-between;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  font-size: 1.1rem;
  color: #48e;
}
.header__open-nav-button {
  color: #48e;
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  right: 10px;
}
.header__checkbox {
  display: none;
}
.header__nav {
  display: none;
  background-color: #fff;
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  z-index: -1;
}
.header__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30dvh;
  margin: auto;
}
.header__checkbox:checked ~ .header__nav {
  display: flex;
}
.header__logo {
  max-width: 100%;
  width: 64px;
  margin: 10px 20px;
}
.header__nav-item {
  list-style: none;
}
.header__nav-item a {
  color: inherit;
}
.header__nav-item a:not(:is(:hover, :active)) {
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .header {
    padding: 10px 0;
  }
  .header__nav {
    display: block;
    position: static;
    height: auto;
    width: auto;
    justify-content: space-between;
    background-color: initial;
  }
  .header__nav-list {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 20px;
    margin-right: 40px;
  }
  .header__open-nav-button {
    display: none;
  }
}

.title, .subtitle {
  text-align: center;
  color: #48e;
}
.title:extend(.title), .subtitle:extend(.title) {
  font-size: 2rem;
}
.title:extend(.subtitle), .subtitle:extend(.subtitle) {
  font-size: 1.5rem;
}

.main {
  background-color: #eee;
}

.faq {
  min-height: 80dvh;
  max-width: clamp(300px, 70%, 700px);
  margin: auto;
  color: #1a2a53;
}
.faq details {
  background-color: rgb(212.5, 212.5, 212.5);
  margin: 10px;
  padding: 10px;
  max-height: 40px;
  transition: max-height 2s 0.3s ease-in-out;
  overflow: hidden;
}
.faq details[open] {
  max-height: 400px;
}
.faq details summary {
  user-select: none;
  position: relative;
}
.faq details summary::marker {
  content: "";
}
.faq details summary::before {
  content: "+";
  color: #48e;
  position: absolute;
  right: 0;
  font-weight: 900;
}
.faq details summary:open::before {
  content: "-";
}
.faq details b {
  background-color: #48e;
  padding: 2px 4px;
  color: #fff;
  margin-right: 4px;
}

.sobre_nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100dvh;
  background-color: #eee;
  color: #fff;
  margin: auto;
  padding: 20px;
  max-width: 50rem;
  border-radius: 8px;
  gap: 20px;
}
.sobre_nosotros article {
  flex: 1 1;
  background-color: #18233f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  width: 100%;
}

.sobre_nosotros ul {
  list-style: none;
}

.productos {
  background-color: #18233f;
    color: #fff;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: productos;
    container-type: inline-size;
    justify-content: space-evenly;
}
.productos__title {
  font-size: 2rem;
  margin: 50px;
  color: #48e;
  text-align: center;
}
.productos__producto-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80vh;
    font-size: 1.5rem;
    font-weight: 700;
    flex: auto;
}

@container productos (max-width: 50rem) {
  .productos__producto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.productos__producto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Img/Producto.png);
  background-position: center;
  background-size: cover;
  display: grid;
  place-content: center;
  border-radius: 12px;
  transition: opacity 0.5s 0.3s ease-in-out;
}
.productos__producto:hover {
  opacity: 0.75;
  outline: 2px solid rgba(255, 255, 255, 0.8);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  max-width: 100%;
  padding: 30px 0;
  container-name: form;
  container-type: inline-size;
}
.form__form {
    padding: 12px;
    max-width: 600px;
    width: 100%;
    display: grid;
    margin-bottom: 600px;
    margin: auto;
}
.form__input-container :is(input, textarea) {
  width: 100%;
  padding: 9px;
  margin: 15px 0;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
}
.form__input-container textarea {
  resize: none;
  min-height: 120px;
}
.form__input-container label {
  color: #1155bb;
}
.form__input-container input[type=submit] {
  padding: 12px;
  background-color: #48e;
  color: #fff;
  transition: background-color 0.3s 0.3s ease-in-out;
}
.form__input-container input[type=submit]:hover {
  background-color: rgb(114.75, 165.75, 242.25);
}
.form__title {
  font-size: 2rem;
  color: #48e;
}

.footer {
  padding: 30px;
  text-align: center;
  background-color: #151d31;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
}